<footer>
  <h1>Creando Menus con Bash</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, natus a
    soluta nostrum esse ipsum obcaecati nam! Voluptatum quisquam omnis
    accusamus, sapiente nesciunt quidem a ab blanditiis vero magni animi?
  </p>
</footer>
